<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zergsolutions.brilliantulag" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BrilliantUlag</name>
    <description>
        BrilliantUlag
    </description>
    <author email="sv_shulga@ukr.net" href="http://shulga.makels.com">
        Zerg Solutions
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <icon src="icon.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.CameraLauncher" />
    </feature>
</widget>
