body {
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

i {
    font-size: 28px !important;
    color: #fff !important;
}

.form {
    display: none;
}

.content {
    width: 100%;
    position: relative;
}

.main-wrapper {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 35px 15px #eee;
}

.main-wrapper a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.app-name {
    position: absolute;
    top: 10px;
    left: 15%;
    width: 70%;
    font-size: 30px;
    text-align: center;
    color: #707070;
}

.main-background {
    width: 100%;
    background-image: url(../img/logo_full_new.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    z-index: 1;
}

.buttons-wrapper {
    text-align: center;
    padding: 10px;
}

button {
    background-color: #0c9cee;
    border: 2px solid #0c9cee;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}

.fieldset {
    padding: 0 15px 20px 0;
    color: #333;
}

.field {
    position: relative;
}

.checkbox-field {
    position: relative;
    padding: 10px 0;
}

.checkbox-field label {
    position: absolute;
    width: 100%;
    top: 7px;
    left: 50px;
    color: #555;
}

label {
    line-height: 30px;
    font-size: 14px;
    color: #999;
}

label span {
    font-size: 12px;
    position: absolute;
    top: 20px;
}

input {
    color: #333;
    font-size: 20px;
    width: 100%;
    border: none;
    background: #eee;
    padding: 7px;
    border-bottom: 2px solid #0c9cee;
    position: relative;
}

input[type=checkbox] {
    width: 23px;
    height: 23px;
}

.checkbox {
    width: 40px;
    height: 40px;
    border: 2px solid #0c9cee;
}

.checkbox.checked:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #0c9cee;
    font-size: 28px;
    padding: 7px;
    line-height: 40px;
}

.menu-wrapper {
    height: 0;
}

.menu-wrapper i {
    font-size: 18px !important;
    width: 25px;
    text-align: center;
}

.menu-wrapper ul {
    list-style: none;
}

.menu-wrapper ul li {
    line-height: 50px;
}

.menu-wrapper {
    position: absolute;
    top: 65px;
    left: 8px;
    color: #fff;
    background-color: rgba(50, 50, 50, .95);
    width: 80%;
    z-index: 999;
}


.type-input, .services-input, .photo-input, .map-input {
    color: #333;
    font-size: 20px;
    width: 100%;
    background: #eee;
    padding: 7px;
    height: 24px;
    border-bottom: 2px solid #0c9cee;
    position: relative;
}

.type-input i, .services-input i, .photo-input i, .map-input i {
    position: absolute;
    top: 7px;
    right: 7px;
}

.message-wrapper {
    border: 2px solid #0c9cee;
    background-color: #fff;
    display: none;
    width: 70%;
    z-index: 100000;
    position: absolute;
    top: 20%;
    left: 15%;
}

.message-wrapper .message-title {
    padding-left: 10px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    background-color: #0c9cee;

}

.message-body {
    padding: 10px;
    text-align: center;
}

.main-slogan {
    z-index: 999;
    position: absolute;
    top: 270px;
    text-align: center;
    color: #0c9cee;
    font-size: 20px;
    font-weight: bold;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    opacity: .5;
    z-index: 9999;
}

.type-wrapper, .services-wrapper {
    display: none;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    background: #fff;
    border: 2px solid #0c9cee;
    border-bottom: none;
    z-index: 9999;
}

.services-wrapper {
    border-bottom: 2px solid #0c9cee !important;
}

.type-wrapper ul, .services-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.type-wrapper ul li, .services-wrapper ul li {
    color: #333;
    line-height: 50px;
    border-bottom: 1px solid #0c9cee;
    text-align: center;
    position: relative;
}

.services-wrapper ul li i {
    display: none;
}

.services-wrapper ul li i.selected {
    display: block;
    float: left;
    top: 15px;
    position: absolute;
    left: 10px;
    font-size: 18px !important;
    color: #0c9cee !important;
}

.auto-photo-wrapper {
    display: none;
    position: relative;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 2px solid #0c9cee;
    margin-top: 20px;
}

#del-photo-btn {
    color: red !important;
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
}

#map-wrapper {

    margin-top: 15px;
    border: 2px solid #0c9cee;
    z-index: 99;
}

.pac-container {
    z-index: 9999;
}

#map-value {
    font-size: 12px;
    line-height: 30px;
    overflow: hidden;
    width: 98%;
    height: 30px;
}

#btn-wash {
    background-color: #0c9cee;
    color: #fff;
    width: 100%;
}

#btn-register {
    width: 100%;
    color: #333;
    background-color: #fff;
}

.language-wrapper {
    width: 82%;
    margin-left: 60px;
    height: 50px;
    border: 1px solid #0c9cee;
    border-left: none;
    position: absolute;
    top: 0;
}

.language-wrapper ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.language-wrapper li {
    border-left: 1px solid #0c9cee;
    float: left;
    width: 32.9%;
    line-height: 50px;
    color: #333;
    text-align: center;
}

.language-wrapper li.selected {
    background-color: #0c9cee;
    color: #fff;
}

.order-wrapper {
    position: relative;
    padding: 20px 10px;
    border-bottom: 2px solid #0c9cee;
}

.order-wrapper .info {
    color: #555;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.order-wrapper .info span {
    font-size: 20px;
    color: #0c9cee;
}

.order-wrapper .info a {
    color: #0c9cee;
}

.order-wrapper .address {
    color: #777;
}

.order-wrapper button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 15px;
    right: 0;
}

.order-wrapper button i {
    color: #0c9cee !important;
}
